

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post)%></li>
  <% end %>
</ul>

<hr>
<p>Tags</p>
<ul>
  <% Tag.all.order(name: :asc).each do |tag| %>
   <li> <%= link_to tag.name, tag_path(tag)%> </li>
  <% end %>

</ul>

<%= link_to "New Post", new_post_path %>
